.section-title {
  margin: 0 0 50px;
  font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: -0.01em;
  color: #736385;
  text-rendering: optimizeLegibility;
}