.lead__title {
  margin: 72px 0 21px;
  color: #3E4345;;
  font-family: 'Montserrat Black', Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.23;
  letter-spacing: -0.02em;
}